{:deps    {com.fulcrologic/fulcro {:mvn/version "3.0.0-beta-13"}}

 :aliases {:dev {:extra-deps {;; org.clojure/clojurescript   {:mvn/version "1.10.520"}
                              thheller/shadow-cljs        {:mvn/version  "2.16.4"}
                              binaryage/devtools          {:mvn/version "0.9.10"}}}}}
