{:deps     {:aliases [:dev]}

 :http {:port 9640}

 :nrepl    {:port 9000
            :init-ns user}

 :builds   {:main {:target     :browser
                   :output-dir "resources/public/js/main"
                   :asset-path "/js/main"

                   :modules    {:main {:init-fn app.client/init}}
                   :devtools   {:after-load app.client/init
                                :preloads   [com.fulcrologic.fulcro.inspect.preload
                                             com.fulcrologic.fulcro.inspect.dom-picker-preload]}}}}
